.admin-table {
    width: 75%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .admin-table th {
    font-weight: bold;
    text-align: center;
    background-color: #f6f8fa;
    border-bottom: 1px solid #dfe2e5;
    padding: 0.8rem 1rem;
  }
  
  .admin-table td {
    border-bottom: 1px solid #dfe2e5;
    padding: 0.8rem 1rem;
    text-align: center;
  }
  
  .admin-table button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .admin-table button:hover {
    background-color: #c82333;
  }