.big-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 50px;
}

.big-button {
    display: inline-block;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #2d3436;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  

.big-button:hover {
    background-color: #636e72;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}